*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
}

header > h1{
    padding: 10px;
    text-align: center;
    margin-top: 30px;
}

main{
    display: flex;
    width: 98vw;
    justify-content: center;
    margin-top: 30px;
}

main > section{
    background-color: beige;
    padding: 20px;
    border-radius: 5px;
    box-shadow:2px 2px 10px rgba(0, 0, 0, 0.445);
}

#btn{
    padding: 5px;
    margin-top: 10px;
    
}

#fsel{
    width: 30%;
    padding: 5px;
    margin-top: 10px;
}

footer > p{
    padding: 10px;
    text-align: center;
    margin-top: 30px;
}